<div class="card bg-dark text-light rounded-lg left-nav-bar">
  <button
    [routerLink]="page != 'profile' ? ['/profile'] : undefined"
    class="bi btn btn-dark icons icon-first"
    [ngClass]="{ 'bi-person': page != 'profile', 'bi-person-fill': page == 'profile' }"
  ></button>
  <button
    [routerLink]="page != 'groups' ? ['/groups'] : undefined"
    class="bi bi-people btn btn-dark icons icon-middle"
    [ngClass]="{ 'bi-people': page != 'groups', 'bi-people-fill': page == 'groups' }"
  ></button>
  <button
    [routerLink]="page != 'general' ? ['/general'] : undefined"
    class="bi bi-house-door btn btn-dark icons icon-middle"
    [ngClass]="{ 'bi-house-door': page != 'general', 'bi-house-door-fill': page == 'general' }"
  ></button>
  <button
    [routerLink]="page != 'directs' ? ['/directs'] : undefined"
    class="bi bi-chat-square-dots btn btn-dark icons icon-middle"
    [ngClass]="{
      'bi-chat-square-dots': page != 'directs',
      'bi-chat-square-dots-fill': page == 'directs'
    }"
  ></button>
  <button
    [routerLink]="page != 'search' ? ['/search'] : undefined"
    class="bi bi-search btn btn-dark icons icon-last"
  ></button>
</div>
