<div class="d-flex align-items-stretch wrap-container">
  <app-left-nav-bar class="align-self-center" page="profile"></app-left-nav-bar>
  <div class="card p-2 flex-grow-1 bg-dark text-light rounded-lg mx-auto main-container">
    <div
      class="d-flex justify-content-between align-items-center fixed-top bg-dark text-center screen-header"
    >
      <div class="d-flex flex-fill">
        <button
          routerLink="../sent-requests"
          class="flex-fill align-self-center btn btn-secondary inactive-tab"
        >
          Sent
        </button>
      </div>
      <div class="d-flex flex-fill">
        <button class="flex-fill align-self-center btn btn-primary active-tab">Received</button>
      </div>
    </div>
  </div>
</div>
