<div *ngIf="user != undefined" class="d-flex justify-content-between m-2 p-3 item-container">
  <div class="d-flex flex-column justify-content-center align-self-center">
    <div class="font-weight-bolder text-primary">{{ user.name }}</div>
    <div class="font-weight-light text-secondary">{{ user.username }}</div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button
      *ngIf="relationStatus == 'neutral'"
      (click)="followUser(user.id)"
      class="btn btn-primary btn-sm"
    >
      {{ user.isPublic ? 'Follow' : 'Send Follow Request' }}
    </button>
    <div
      *ngIf="relationStatus == 'request-sent'"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <label for="cancel-btn">Request sent.</label>
      <button (click)="cancelRequest(user.id)" class="btn btn-danger btn-sm" id="cancel-btn">
        Cancel Request
      </button>
    </div>
    <div
      *ngIf="relationStatus == 'request-received'"
      class="d-flex justify-content-between align-items-center"
    >
      <button (click)="acceptRequest(user.id)" class="btn btn-success btn-sm mr-1">
        Accept
        <i class="bi bi-check text-white"></i>
      </button>
      <button (click)="rejectRequest(user.id)" class="btn btn-danger btn-sm">
        Reject
        <i class="bi bi-x text-white"></i>
      </button>
    </div>
    <div
      *ngIf="relationStatus == 'follower'"
      class="d-flex justify-content-between align-items-center"
    >
      <button (click)="removeUser(user.id)" class="btn btn-danger btn-sm">Remove</button>
    </div>
    <div
      *ngIf="relationStatus == 'following'"
      class="d-flex justify-content-between align-items-center"
    >
      <button (click)="unfollowUser(user.id)" class="btn btn-danger btn-sm">Unfollow</button>
    </div>
    <div
      *ngIf="relationStatus == 'member'"
      class="d-flex justify-content-between align-items-center"
    >
      <span *ngIf="isCreator" class="badge badge-primary mr-2">Creator</span>
      <button
        *ngIf="canRemove && !isCreator"
        (click)="removeUser(user.id)"
        class="btn btn-danger btn-sm"
      >
        Remove
        <i class="bi bi-x text-white"></i>
      </button>
    </div>
  </div>
</div>
