.wrap-container {
  width: 55vw;
  height: 95vh;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  width: 40vw;
  height: 90vh;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.5s;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.header-container {
  position: sticky;
}

.screen-header {
  border-bottom: 1px solid #ffffffaa;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  z-index: 2;
}

.message-input-container {
  padding: 20px;
  position: sticky;
}

.top-reply-badge {
  margin-left: 10px;
  padding-right: 8px;
  font-size: medium;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
  border-bottom: 0;
  border-color: white;
  border-style: solid;
  border-radius: 5px 5px 0 0;
}

.custom-close-icon {
  border: none;
  padding: 5px;
}

.chat-container {
  margin-bottom: 15px;
  padding-top: 10px;
}

.badge-wrap {
  margin-top: 10px;
  padding: 5px;
}

.message-date-badge {
  text-align: center;
}

.empty-chat {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-empty-badge {
  font-weight: 400;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
}

@media (max-width: 1300px) and (min-width: 1100px) {
  .main-container {
    transform: translate(-46%, -50%);
  }
}

@media (max-width: 1100px) and (min-width: 900px) {
  .main-container {
    transform: translate(-42%, -50%);
  }
}
