<div class="d-flex align-items-stretch wrap-container">
  <app-left-nav-bar class="align-self-center"></app-left-nav-bar>
  <div class="card p-2 flex-grow-1 bg-dark text-light rounded-lg mx-auto main-container">
    <div class="fixed-top bg-dark text-center screen-header">
      <h3>Change Password</h3>
    </div>

    <form
      [formGroup]="passwordFormGroup"
      (ngSubmit)="onSubmit()"
      class="d-flex flex-column form-container"
    >
      <app-input-form
        [parentForm]="passwordFormGroup"
        fieldName="currentPassword"
        label="Current Password"
        inputType="password"
        formControlName="currentPassword"
        placeHolder="********"
        error="Password should be 4 to 16 characters long"
        checkValidation="true"
      ></app-input-form>
      <app-input-form
        [parentForm]="passwordFormGroup"
        fieldName="newPassword"
        label="New Password"
        inputType="password"
        formControlName="newPassword"
        placeHolder="********"
        error="Password should be 4 to 16 characters long"
        checkValidation="true"
      ></app-input-form>
      <div class="d-flex flex-column fixed-bottom m-5">
        <button type="submit" class="btn btn-danger text-light rounded-lg custom-btn">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
