.wrap-container {
  width: 55vw;
  height: 95vh;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  width: 40vw;
  height: 90vh;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.5s;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.form-container {
  margin: 20px;
}

.custom-btn {
  margin: 15px 30px 0 30px;
}

@media (max-width: 1300px) and (min-width: 1100px) {
  .main-container {
    transform: translate(-46%, -50%);
  }
}

@media (max-width: 1100px) and (min-width: 900px) {
  .main-container {
    transform: translate(-42%, -50%);
  }
}
