<div class="d-flex align-items-stretch wrap-container">
  <app-left-nav-bar class="align-self-center"></app-left-nav-bar>
  <div
    *ngIf="sentRequests$ | async as requests"
    class="card p-2 flex-grow-1 bg-dark text-light rounded-lg mx-auto main-container"
  >
    <div
      class="d-flex justify-content-between align-items-center fixed-top bg-dark text-center screen-header"
    >
      <div class="d-flex flex-fill">
        <button class="flex-fill align-self-center btn btn-primary active-tab">Sent</button>
      </div>
      <div class="d-flex flex-fill">
        <button
          routerLink="../received-requests"
          class="flex-fill align-self-center btn btn-secondary inactive-tab"
        >
          Received
        </button>
      </div>
    </div>
    <div *ngIf="requests.length != 0" class="items-container">
      <app-user-item
        *ngFor="let request of requests"
        [user]="request"
        relationStatus="request-sent"
        (cancel)="cancelRequest($event)"
      ></app-user-item>
    </div>
    <div *ngIf="requests.length == 0" class="empty-container">
      <span class="badge badge-secondary badge-pill custom-empty-badge"
        >No Requests Sent yet ...</span
      >
    </div>
  </div>
</div>
