<div class="d-flex align-items-stretch wrap-container">
  <app-left-nav-bar class="align-self-center"></app-left-nav-bar>
  <div
    *ngIf="followers$ | async as followers"
    class="card p-2 flex-grow-1 bg-dark text-light rounded-lg mx-auto main-container"
  >
    <div class="fixed-top bg-dark text-center screen-header">
      <h3>Followers</h3>
    </div>
    <div *ngIf="followers.length != 0" class="items-container">
      <app-user-item
        *ngFor="let follower of followers"
        [user]="follower"
        relationStatus="follower"
        (remove)="removeFollower($event)"
      ></app-user-item>
    </div>
    <div *ngIf="followers.length == 0" class="empty-container">
      <span class="badge badge-secondary badge-pill custom-empty-badge">No followers</span>
    </div>
  </div>
</div>
